@import "./globals.css";

.search-results > * {
  margin-top: 1rem;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zing-it {
  align-items: left;
  color: var(--color-theme-red);
  width: max-content;
  width: 200px;
}

.zing-it:hover {
  color: var(--color-theme-lightorange);
}
